// BASE
// GLOBAL SETTINGS
// =================================================
@use "../abstracts/mixins/abstracts-mixins-media-queries" as *;
@use "../abstracts/variables/abstracts-variables-colors" as *;
@use "../abstracts/variables/abstracts-variables-fonts" as *;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: $color-brand-1;
	color: $color-black;
}

html {
	font-size: 10px;
}

body {
	background-color: $color-white;
	color: $color-black;
	font-family: $font-brand-2;
	font-size: 1.8rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	line-height: 140%;
	text-size-adjust: 100%;

	@include media("lg") {
		font-size: 1.8rem;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
	}
}

textarea,
select,
input,
button {
	font-family: $font-brand-2;
}

p {
	+ p {
		margin-top: 1.5rem;
	}
}
