// ABSTRACTS VARIABLES
// FONTS
// =================================================

// COLORS
/////////////////
$font-avenir: "Avenir";
$font-source-sans-pro: "Source Sans Pro";

// BRAND
/////////////////
$font-brand-1: $font-source-sans-pro, "Helvetica Neue", arial, sans-serif;
$font-brand-2: $font-avenir, "Helvetica Neue", arial, sans-serif;
